language = "go"
run = "go run . -dbDirection=flora.db.elephantsql.com -dbUser=mljgqygv -dbName=mljgqygv -dbPsswd=ZfVD-ql9hLg4G6NZ6nCxYUKlgQTg3x_B -debug=true"
entrypoint = "main.go"
modules = ["go-1.21:v2-20231201-3b22c78"]

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = ["sh", "-c", "go build main.go"]
run = ["sh", "-c", "./main"]
ignorePorts = false
deploymentTarget = "gce"
