{{define "noDataAvailable"}}
    <div class="containerCerberus" style="background: #292828;">
        <div class="no-data">
            <h1>no data available</h1>
            <p>If this is an error, please contact your seller.</p>
            <p>If not, please visit our available <a href="/services">services</a>.</p>

        </div>
    </div>
{{end}}